<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

    <%= result %>

    <form method="POST" action="/ptt2">
        <label for="a">nhap a:</label>
        <input name="a" id="a" />
        <label for="b">nhap b:</label>
        <input name="b" id="b" />
        <label for="c">nhap c:</label>
        <input name="c" id="c" />

        <button type="submit">get result</button>
    </form>

</body>

</html>